#myModal.modal.hide.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
  .modal-header
    .pull-right
      button.close {aria-hidden="true" data-dismiss="modal" type="button"} x
    h3 
      | Folders & Items count
  .modal-body
    = @folders_count
    = @items_count
    #folder_info

javascript:
  $(function () {
          $('#folder_info').highcharts({
              chart: {
                  type: 'column',
                  width: 530,
                  height: 300
              },
              title: {
                  text: ''
              },
              subtitle: {
                  text: ''
              },
              xAxis: {
                  categories: [
                      ''
                  ]
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'size'
                  }
              },
              tooltip: {
                  headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                  pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                      '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                  footerFormat: '</table>',
                  shared: true,
                  useHTML: true
              },
              plotOptions: {
                  column: {
                      pointPadding: 0.2,
                      borderWidth: 0
                  }
              },
              series: [{
                  name: "folders count",
                  data: [#{@folders_count}]
      
              },{
                  name: "items count",
                  data: [#{@items_count}]
              }]
          });
      });