$(".main").replaceWith("<%= escape_javascript(render('folders/folders'))%>");


$("a.current.asc").append("<span class='pull-right'></span>");
$("a.current.asc > span").html("<i class='silk-arrow_down'></i>");

$("a.current.desc").append("<span class='pull-right'></span>");
$("a.current.desc > span").html("<i class='silk-arrow_up'></i>");