table
  - @data.each do |name, files|
    tr
      td
        = name
      td
      - files.each do |file|
        tr
          td
            '&nbsp
            | - 
            = [file.path, file.item_name].join("/") 
          td
            = link_to "delete_file", { :controller => 'items', :action => 'destroy', :id => file.item_id }, { :confirm => 'Are you sure?', :method => :delete, :remote => true} 

br/
/destroy by type
- types = []
- Item.pluck(:item_file_name).each do |item|
  - types << item.split(".")[1]

- types.uniq.each do |type|
  - ids = []
  - Item.where("item_file_name like (?)", "%.#{type}").each do |file|
    - ids << file.id
  = link_to "destroy all #{type} files", destroy_by_type_items_path(:items => ids, :folder_id => @folder.try(:id)) , method: :delete, remote: true, class: 'remove_all_by_type'
  br/



            
sass:
  table
    tr
      td
        padding: 6px !important
        font-size: 14px !important
        &:last-child
          margin-bottom: 10px

