table
  - @data.each do |name, files|
    tr
      td
        = name
      td
      - files.each do |file|
        tr
          td
            '&nbsp
            | - 
            = [file.path, file.item_file_name].join("/") 
          td
            = link_to 'delete_file', '#'


sass:
  table
    tr
      td
        padding: 6px !important
        font-size: 14px !important
        &:last-child
          margin-bottom: 10px

