= jpgs = number_to_human_size @jpgs_sum
br/
= others = number_to_human_size @others_sum

#container

javascript:
  $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'jpg & others sum'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'jpg',
                    'others'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} kb</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'jpg',
                data: [#{jpgs.to_i}]
    
            }, {
                name: 'others',
                data: [#{others.to_i}]
    
            }]
        });
    });
