/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require silk-icons
 *= require bootstrap
 *= require jquery.ui.all
 *= require jquery.fileupload-ui
 *= require_tree .
 */


*{
  padding: 0px;
  margin: 0px;
}

#main {
  width: 748px;
  margin: 0 auto;
}

.top{
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fcffff), color-stop(4%, #c9c9c6), color-stop(21%, #d1d1d1), color-stop(41%, #e1e1e1), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fcffff 0%, #c9c9c6 4%, #d1d1d1 21%, #e1e1e1 41%, #e1e1e1 100%);
  background: -o-linear-gradient(top, #fcffff 0%, #c9c9c6 4%, #d1d1d1 21%, #e1e1e1 41%, #e1e1e1 100%);
  background: -ms-linear-gradient(top, #fcffff 0%, #c9c9c6 4%, #d1d1d1 21%, #e1e1e1 41%, #e1e1e1 100%);
  background: linear-gradient(to bottom, #fcffff 0%, #c9c9c6 4%, #d1d1d1 21%, #e1e1e1 41%, #e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcffff', endColorstr='#e1e1e1', GradientType=0 );
  }


.create_folder{
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #E9E9E3 9%, #FFFFFF 99%, #FFFFFF 99%, #FFFFFF 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(9%, #E9E9E3), color-stop(99%, #FFFFFF), color-stop(99%, #FFFFFF), color-stop(100%, #FFFFFF));
  background: -webkit-linear-gradient(top, #ffffff 0%, #E9E9E3 9%, #FFFFFF 99%, #FFFFFF 99%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #E9E9E3 9%, #FFFFFF 99%, #FFFFFF 99%, #FFFFFF 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #E9E9E3 9%, #FFFFFF 99%, #FFFFFF 99%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #E9E9E3 9%, #FFFFFF 99%, #FFFFFF 99%, #FFFFFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FFFFFF', GradientType=0 );

}

.t_header{
  background: rgba(250,250,250,1);
  background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(225,225,225,1) 13%, rgba(250,250,250,1) 87%, rgba(250,250,250,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(13%, rgba(225,225,225,1)), color-stop(87%, rgba(250,250,250,1)), color-stop(100%, rgba(250,250,250,1)));
  background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(225,225,225,1) 13%, rgba(250,250,250,1) 87%, rgba(250,250,250,1) 100%);
  background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(225,225,225,1) 13%, rgba(250,250,250,1) 87%, rgba(250,250,250,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(225,225,225,1) 13%, rgba(250,250,250,1) 87%, rgba(250,250,250,1) 100%);
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(225,225,225,1) 13%, rgba(250,250,250,1) 87%, rgba(250,250,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa', GradientType=0 );
}


.progressbar{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(240,240,240,1) 22%, rgba(240,240,240,1) 35%, rgba(225,225,225,1) 50%, rgba(240,240,240,1) 75%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(1%, rgba(255,255,255,1)), color-stop(22%, rgba(240,240,240,1)), color-stop(35%, rgba(240,240,240,1)), color-stop(50%, rgba(225,225,225,1)), color-stop(75%, rgba(240,240,240,1)), color-stop(99%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(240,240,240,1) 22%, rgba(240,240,240,1) 35%, rgba(225,225,225,1) 50%, rgba(240,240,240,1) 75%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(240,240,240,1) 22%, rgba(240,240,240,1) 35%, rgba(225,225,225,1) 50%, rgba(240,240,240,1) 75%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(240,240,240,1) 22%, rgba(240,240,240,1) 35%, rgba(225,225,225,1) 50%, rgba(240,240,240,1) 75%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(240,240,240,1) 22%, rgba(240,240,240,1) 35%, rgba(225,225,225,1) 50%, rgba(240,240,240,1) 75%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

}


.progressbar > div {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(210,210,209,1) 7%, rgba(170,170,170,1) 50%, rgba(210,210,209,1) 89%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(1%, rgba(255,255,255,1)), color-stop(7%, rgba(210,210,209,1)), color-stop(50%, rgba(170,170,170,1)), color-stop(89%, rgba(210,210,209,1)), color-stop(99%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(210,210,209,1) 7%, rgba(170,170,170,1) 50%, rgba(210,210,209,1) 89%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(210,210,209,1) 7%, rgba(170,170,170,1) 50%, rgba(210,210,209,1) 89%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(210,210,209,1) 7%, rgba(170,170,170,1) 50%, rgba(210,210,209,1) 89%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(210,210,209,1) 7%, rgba(170,170,170,1) 50%, rgba(210,210,209,1) 89%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

}