.wrapper
  max-width: 730px
  min-width: 730px
  margin: 0 auto


.active
  background-color: #FFFFCA
  border: 2px solid #989894


.wrapper
  left: 5px
  header
    min-height: 40px
    max-height: 40px
    margin: 0 auto
    color: #656964
    line-height: 26px
    .title
      width: 236px
      a
        text-decoration: none
        font-family:  Impact
        letter-spacing: +2px
        font-style: bold
        line-height: 40px
        font-size: 20px
        color: #656964 
        border-bottom: 0.1em solid silver


.top
  height: 36px
  border: 2px solid #656964
  position: relative
  margin-bottom: 8px
  .create_folder
    position: absolute
    height: 18px
    width: 120px
    border: 2px solid #828282
    left: 10px
    top: 7px
    a
      margin-left: 4px
      font-family:  Impact
      letter-spacing: +0.7px 
      font-size: 12px
      color: #003366
      line-height: 17px
      text-decoration: none
      img
        vertical-align: top
  .used
    position: relative
    width: 242px
    margin-right: 1px
    margin-top: 8px
    font-size: 13px
    .text
      position: absolute
      letter-spacing: -0.3px
      &:first-child
        margin-left: -5px
      &:last-child
        margin-left: 160px
        letter-spacing: -0.5px
        margin-top: 1px
    .progressbar
      display: inline-block
      margin-left: 40px
      border: 1px solid #656964
      background-color: #E1E1E1
      border-radius: 3px 5px 6px 3px
      max-height: 17px
      min-height: 17px
      max-width: 116px
      min-width: 116px
      position: absolute
      z-index: 10
      div
        position: absolute
        display: inline-block
        background-color: #BFBEB9
        height: 100%
        border-right: 1px solid  #656964
        border-radius: 3px 0px 0px 3px
        z-index: 1

.middle
  max-height: 84px
  min-height: 84px
  border: 2px solid #989894
  background-color: #F2F2F2
  margin-bottom: 13px
  #fileupload
    margin-left: 10px
    margin-top: 24px
    form
      input
        box-shadow: none !important
        border-radius: none !important
      .btn-default
        width: 104px


.main
  .navigation
    background-color: #F2F2F2
    border: 2px solid #989894  
    min-height: 156px !important
    max-width: 70px
    min-width: 70px
    min-height: 100%
    float: left
    margin-right: 16px
    .buttons
      margin: 6px auto
      height: 66px
      width: 58px
      text-align: center
      font-size: 11px
      line-height: 12px
      .documents
        cursor: pointer
        display: inline
        text-align: center !important
        img
          left: 4px
      .nav
        cursor: pointer
        text-align: center
  .area
    float: left
    max-width: 640px
    min-width: 640px
    .placing
      min-height: 54px
      max-height: 54px
      .pl-top
        font-size: 12px
        font-weight: bold
        img
          vertical-align: top
      .pl-down
        margin-top: 7px
        font-size: 12px
        a
          color: #003366

    .files
      border: 2px solid #989894
      border-top: 3px solid #989894
      table
        tr
          td
            padding-left: 3px 
            border: 1px solid #989894
            font-size: 12px
            &:last-child
              text-align: center
            a
              color: #003366
              text-decoration: none
              &:hover 
                text-decoration: none
              i
        tr.t_header
          height: 18px
          font-family:  Impact
          letter-spacing: +0.7px 
          font-size: 12px
          text-decoration: none
          td
            text-align: left
    .tree
      border: 2px solid #989894
      border-top: 3px solid #989894


td.name,td.description
  width: 192px
  color: #003366
td.size
  width: 54px
td.date
  width: 128px
  color: #003366
td.edit
  width: 28px
td.delete
  width: 42px

        


.alert-alert
  border: 4px solid #F76E59
  div
    text-align: center
    margin: 0 auto

















input#folders_, input#items_
  visibility: hidden
  display: none


 

.btn-submit
  transition: 0.2s
  #display: inline-block
  background-color: green
  padding: 8px 12px
  color: white !important
  border: 0px !important
  &:hover
    transition: 0.2s
    background-color: orange

.submit-big
  width: 100% !important

.hide-button
  visibility: hidden

.nested_tree
  margin-left: 14px


input, textarea
  width: 100% !important