.container-fluid
  max-width: 940px
  margin: 0 auto

header
  margin-top: 0px
  min-height: 30px
  max-height: 30px
  background: rgba(1, 1, 1, 0.85)
  color: white
  line-height: 26px

.folder
  margin-left: 0px !important
  max-height: 20px
  min-height: 20px

.folder:nth-child(even) 
  background: rgba(1, 1, 1, 0.1)
